body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#hamburger {
    position: fixed;
    height: 30px;
    width: 30px;
    top: 2vh;
    right: 2vw;
    transition: transform 0.3s ease-in-out;
}

#sider {
    position: fixed;
    min-width: 5%;
    padding: 5%;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: grey;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

#sider.active {
    transform: translateX(0);
}

h1 {
    font-size: 2rem;
}

p {
    margin: 10px 10px 10px 10px;
}

.button {
    width: 7rem;
    height: 7rem;
    text-align: center;
    font-size: 5rem;
    border: 2px solid black;
    border-radius: 10px;
}

#oracle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 70%;
    width: 70%;
}

.icon {
    border-radius: 25px;
    margin: 5px;
    width: 100%;
    min-width: 230px;
    max-width: 30vw;
    height: auto;

}

.hidden {
    display: none;
}

@media (max-width: 800px) {
    #oracle {
        flex-direction: column;
    }

    h1 {
        font-size: 1.5rem;
    }

    .button {
        width: 4rem;
        height: 4rem;
        font-size: 3rem;
    }

    #oracle.icon {
        flex: 70%;
    }
}